.jumbotron {
  border-radius: 0;
}
.table-container {
  width: 80%;
  margin: auto;
  min-height: 50vh;
}
.ModalHeader {
  color: white;
  text-align: center;
  align-items: center;
}
.ModalTitleCredential {
  flex-grow: 1;
}
.ModalBodyPresentation {
  text-align: center;
  align-content: center;
}
.ToastSuccess {
  color: white;
}
.logo {
  float: center;
}

.notification {
  margin-bottom: 2%;
}
.list-notifications {
  margin-bottom: 5%;
}
.list-credentials {
  margin-bottom: 5%;
}
.credential {
  margin-bottom: 2%;
  font-size: 1.1em;
  text-align: center;
}
.credential-text {
  float: center;
  margin-top: 2%;
}
.checkbox {
  float: right;
  margin-top: -10%;
}
.spinner {
  float: center;
  align-self: center;
}
.credentialData {
  text-align: center;
}
.bodyDisplayCredential {
  background-repeat: no-repeat;
  background-size: contain;
}
.BackButton {
  height: 2em;
  width: 2em;
  cursor: pointer;
  padding: 3px;
  z-index: 15;
  float: left;
}
.tourButton {
  appearance: none;
  background: none;
  box-sizing: border-box;
  display: inline-block;
  font: normal normal 400 1rem/1.25rem Arial, sans-serif;
  font-weight: 600;
  margin: 0;
  background-color: #fff;
  border: 2px solid #004494;
  color: #fff;
  padding: calc(0.75rem - 2px) calc(1rem - 2px);
  text-decoration: none;
  border-radius: 50%;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 320px) {
  .notification {
    margin-bottom: 2%;
    width: 115%;
    align-self: center;
  }
  .credential {
    margin-bottom: 2%;
    width: 100%;
    align-self: center;
  }
}
@media only screen and (min-width: 321px) and (max-width: 767px) {
  .notification {
    margin-bottom: 2%;
    width: 115%;
    align-self: center;
  }
  .credential {
    margin-bottom: 2%;
    width: 100%;
    align-self: center;
  }
}

/* Tablets, iPads */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .notification {
    margin-bottom: 2%;
    width: 100%;
    align-self: center;
  }
  .credential {
    margin-bottom: 2%;
    width: 100%;
    align-self: center;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1025px) {
  .notification {
    margin-bottom: 2%;
    width: 50%;
    align-self: center;
  }
  .credential {
    margin-bottom: 2%;
    width: 100%;
    align-self: center;
  }
}
