.terms {
  text-align: center;
  align-items: center;
  margin-bottom: 5%;
}
.jumbotron {
  border-radius: 0;
}
.flex-col {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.button-container {
  margin-top: 2%;
}
