.agree {
  align-items: center;
}
.terms {
  text-align: center;
  align-items: center;
  margin-bottom: 5%;
}
.jumbotron {
  border-radius: 0;
}
.footerTerms {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.button-container {
  margin-top: 2%;
}
