.notification {
  margin-bottom: 2%;
}
.logo {
  float: center;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 320px) {
  .notification {
    margin-bottom: 2%;
    width: 115%;
    align-self: center;
  }
}
@media only screen and (min-width: 321px) and (max-width: 767px) {
  .notification {
    margin-bottom: 2%;
    width: 115%;
    align-self: center;
  }
}

/* Tablets, iPads */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .notification {
    margin-bottom: 2%;
    width: 100%;
    align-self: center;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1025px) {
  .notification {
    margin-bottom: 2%;
    width: 50%;
    align-self: center;
  }
}
