.terms {
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 5%;
  text-align: center;
}
.termsAndConditions {
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 5%;
  text-align: left;
}
.title {
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 5%;
  text-align: center;
}
.jumbotron {
  border-radius: 0;
}
.bigger {
  font-size: 30px;
}
