.credential {
  margin-bottom: 2%;
  font-size: 1.1em;
  text-align: center;
}
.credential-text {
  float: center;
  margin-top: 2%;
}
.logo {
  float: center;
}
.checkbox {
  float: right;
  margin-top: -10%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 320px) {
  .credential {
    margin-bottom: 2%;
    width: 100%;
    align-self: center;
  }
}
@media only screen and (min-width: 321px) and (max-width: 767px) {
  .credential {
    margin-bottom: 2%;
    width: 100%;
    align-self: center;
  }
}

/* Tablets, iPads */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .credential {
    margin-bottom: 2%;
    width: 100%;
    align-self: center;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1025px) {
  .credential {
    margin-bottom: 2%;
    width: 100%;
    align-self: center;
  }
}
