.credentialItem {
  position: relative;
}

.credentialItem :global(.ecl-checkbox__box) {
  margin-right: 0;
}

.credentialItem + .credentialItem {
  margin-top: 0.5rem;
}

.credentialText {
  word-break: break-word;
}

.checkbox {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
}
