.ModalHeader {
  text-align: center;
}
.ModalTitleCredential {
  flex-grow: 1;
}
.bodyDisplayCredential {
  background-repeat: no-repeat;
  background-size: contain;
}
.BackButton {
  height: 2em;
  width: 2em;
  cursor: pointer;
  padding: 3px;
  z-index: 15;
  float: left;
}
