.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 1rem 2rem;
  position: relative;
  background-color: #002f67;
}

.main {
  width: 80%;
  max-width: 580px;
  margin-top: 20vh;
  text-align: left;
}

.panelFooter {
  background: #fff;
  padding: 0 1.25rem 1.25rem;
  color: #444;
  display: flex;
  justify-content: flex-end;
}

.ModalHeader {
  color: #fff;
}

.ModalHeader :global(.close) {
  color: #fff;
}

.spinner {
  animation: spin 1s infinite cubic-bezier(0.43, 0.12, 0.57, 0.88);
  will-change: transform;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
